#console{
    border:1px solid violet;
    margin:12px;
}

#error-console{
    border:1px solid red;
    margin:12px;
}

#history{
    border:1px solid green;
    margin:12px;
}

#archivos{
    border:1px solid #8FB;
}